body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    position: relative;
    color: #158b2b;
    font-size: 30px;
    padding: 10px 0;
    text-align: center;
    margin: 1.5em 0;
}

h1:before {
content: "";
position: absolute;
top: -8px;
left: 50%;
width: 150px;
height: 68px;
border-radius: 50%;
border: 5px solid #a6ddb0;
border-left-color: transparent;
border-right-color: transparent;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
}

#eventform {
    background-color: white;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

#eventform div {
    margin-bottom: 20px;
}

#eventform label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
}

#eventform input[type="text"],
#eventform input[type="datetime-local"],
#eventform input[type="file"],
#eventform select,
#eventform textarea {
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

#eventform input[type="text"]:focus,
#eventform input[type="datetime-locale"]:focus,
#eventform input[type="file"]:focus,
#eventform select:focus,
#eventform textarea:focus {
    border-color: #0056b3;
    outline: none;
}

#eventform button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#eventform button:hover {
    background-color: #004085;
}

#event-image-preview img {
        width: 800px;
        margin: 10px;
        border: solid 1px silver;
}
