body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

form {
    background-color: white;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
}

input[type="text"],
input[type="datetime-local"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="datetime-locale"]:focus,
input[type="file"]:focus,
select:focus,
textarea:focus {
    border-color: #0056b3;
    outline: none;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004085;
}

#event-image-preview img {
        width: 800px;
        margin: 10px;
        border: solid 1px silver;
}
